html
{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(210, 210, 210);
}

body
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28) !important;
}

h1, h2, h3, h4, h5
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: unset;
}

.content
{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

#header
{
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(28, 28, 28);
}

#sidebar
{
    width: 300px;
    height: 100%;
}

.panel
{
    background-color: rgba(255, 255, 255, 0.05);
}

#tab-groups
{
    padding: 15px;
    flex: 1 1 auto;
    overflow: hidden;
}