html
{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(210, 210, 210);
}

body
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
}

h1, h2, h3, h4, h5
{
    margin: 0;
}

a
{
    text-decoration: none;
    color: unset;
}

.content
{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

#header
{
    height: 40px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(28, 28, 28);
}

#sidebar
{
    width: 300px;
    height: 100%;
}

.panel
{
    background-color: rgba(255, 255, 255, 0.05);
}

#tab-groups
{
    padding: 15px;
    flex: 1 1 auto;
    overflow: hidden;
}

.tab-group
{
    margin-bottom: 15px;
    flex: 1 1 auto;
}

.tab-group-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 5px;
}

.tab-group-header a
{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 0 5px;
    border-color: transparent;
    background-color: transparent;
    font-size: 13px;
    font-weight: 600;
}

.tab-group-title
{
    height: min-content;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.tab-group-header-buttons
{
    height: 100%;
    display: flex;
    align-items: center;
}

.rename-button
{
    color: rgb(210, 210, 210);
}

.remove-button
{
    color: rgb(248, 89, 89);
}

.tab-group-tabs
{
    padding: 3px;
}

.tab
{
    position: relative;
    margin: 3px 0 5px 0;
    padding: 3px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.tab-drag
{
    width: 16px;
    height: 90%;;
    position: absolute;
    left: 0;
    background:radial-gradient(rgba(0, 0, 0, 0.3) 50%, transparent 50%) 0 0;
    background-size: 4px 4px;
}

.tab-icon
{
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    float: left;
}

.tab-link
{
    margin: 0 3px;
    white-space: nowrap;
    overflow: hidden;
}

.tab-title
{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tab-url
{
    font-size: 12px;
    color: rgb(140, 140, 140);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}