.tab
{
    position: relative;
    margin: 3px 0 5px 0;
    padding: 3px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.tab-drag
{
    width: 16px;
    height: 36px;
    position: absolute;
    left: 0;
    background:radial-gradient(rgba(0, 0, 0, 0.3) 50%, transparent 50%) 0 0;
    background-size: 4px 4px;
}

.tab-drag-down
{
    background:radial-gradient(rgba(255, 255, 255, 0.3) 50%, transparent 50%) 0 0;
    background-size: 4px 4px;
}

.tab-icon
{
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    float: left;
}

.tab-link
{
    margin: 0 3px;
    white-space: nowrap;
    overflow: hidden;
}

.tab-title
{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tab-url
{
    font-size: 12px;
    color: rgb(140, 140, 140);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}